.layer {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 40px);
  padding: 8vh 5vw;
  border-bottom: 1px solid var(--separator);
}
.layer.--dark {
  background: var(--darkBackground);
}
.layer.--darker {
  background: transparent;
}

.layer.-home,
.layer.-advantages {
  /* padding-top: 100px;
  justify-content: baseline; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4vh;
}
.layer.-home {
  padding-top: 0;
}
.-home .intro {
  text-align: center;
  max-width: 780px;
}

.container {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.layer.-stats {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.layer.-footer {
  color: var(--text-secondary);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px 20px;
  gap: 30px;
}
.-footer > div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 40px;
}
.-footer > div section .-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--accent);
  margin-bottom: 15px;
}
.-footer > div section p {
  color: var(--text-light);
}
.-footer > div section ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: center;
  gap: 8px;
  text-transform: capitalize;
}
.-footer > div section ul li {
  cursor: pointer;
  transition: all 0.28s ease-in-out;
}
.-footer > div section ul li:hover,
.-footer > div section ul li:focus {
  color: var(--text-light);
  font-weight: bolder;
}
.-footer .hr {
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--cardBorder);
}
.-footer footer {
  font-size: 0.7em;
  text-align: center;
}

@media (min-width: 1024px) {
  .layer.-stats {
    flex-flow: row;
  }

  .-footer > div {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 4vw;
  }
  .-footer > div section {
    width: fit-content;
    max-width: 500px;
  }
}
